.card {
    text-align: left;
}

.card-header {
    text-align: left;
    background-color: lightskyblue;;
    color: black;
    font-weight: bold;
}

body {
    background-color: rgb(27, 60, 73);
};

#first-col {
    text-align: left;
}