.card {
    text-align: left;
}

.card-header {
    text-align: left;
    background-color: rgb(7, 111, 175);;
    color: white;
    font-weight: bold;
}

body {
    background-color: rgb(93, 207, 252);
};

#first-col {
    text-align: left;
}
